<H1>Delete this</H1>
<h2>only if "owner" : ObjectId("60c9556f7629e84503f8fdaa")</h2>

<%=  %>
     <ui  style="display:flex;justify-content: space-around;"><button href='/new' class="btn btn-secondary">Add a trail!</button></ui>
     <head>
         <ui style="display:flex;justify-content: space-around;"><button href='/' class="btn btn-secondary">Home</button></ui>
     </head>