<h1>Welcome to Get Off Grid!</h1>




<header>
    <img src="/images/snowyTrail.jpeg">
</header>
<h1>
  <p> Feel free to take a look at some Favorite trails</p>
</h1>

<ul style="display:flex;justify-content: space-around;">
   <li><a href='/norcal' class="btn btn-secondary"> Northern California</a></li>
   <li><a href='/nv' class="btn btn-secondary">vegas</a></li>
</ul>
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>