
<header >
 

  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
      width: 100%;
      height: 400px;
      margin-top: 10%;
      border-radius: 20px;
      
    "
  >

  <div class="d-inline justify-content-center" style="position: relative;">
      <h1> 
        Welcome to Get Off Grid App!
      </h1>
      <ul>
        <h3> 
          A place to check out some personal favorite trails and hikes
            clink the links in the nav or view by region.
        </h3>
      </ul>
  </div>

</header>


<div class="mask" style="background-color: white; color: black; margin-top: 10%; border-radius: 20px;">
 
    <div class="text-black">
      <h1 class="mb-2" >
        <h5>
          <p style=" margin-top: 5%; padding: 5%;"> 
              Feel free to take a look at some Favorite trails. When the pandemic entered our lives I realized how
              important it was to get back out in nature and exercise. Below you find some starter trails to check out based on 
              region. Hope you enjoy. 
              Thanks for stopping by!
          </p>
        </h5>
      </h1>
    </div>
</div>
<div class="container">
  <!-- <img src="/images/caliMistDome.jpeg" alt="Snow" style="width:100%"> -->
  <a  href="/calTrails" class="btn1"> California </a>
  <a  href="/outOfStateTrails" class="btn2"> Out of State </a>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>