<h1>Welcome to Get Off Grid!</h1>
<header>
    <img src="/images/snowyTrail.jpeg">
</header>

<ul style="display:flex;justify-content: space-around;">
   <ui><a href='/norcal'> Northern California</a></ui>
   <ui><a href='/socal'>Southern California</a></ui>
 </ul>