<h1>Welcome to Get Off Grid!</h1>
<ul style="display:flex;justify-content: space-between;">
    <li><a href='/'>Home</a></li>
   <li><a href='/NorhternCalifornia'> Nor Cal</a></li>
   <li><a href='/SouthernCalifornia'>So Cal</a></li>
 </ul>