<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Get Off Grid App</title>
</head>
<body>
    <ul style="display:flex;justify-content: space-between;">
        <!-- <li><a href='/'>Home</a></li>
       <li><a href='/animals'> Animals</a></li>
       <li><a href='/foods'>Favorite Foods</a></li> -->
     </ul>
    <%- include('../partials/header.ejs') %>
    <%- body %>  
    <%- include('../partials/footer.ejs') %>
</body>
</html>