<h1>Favorite Northern California Trails</h1>
<header>
    <img src="/images/trailHeadSign.jpeg">
</header>
<h1>trail name and stats: </h1>
<li><%= trails%></li>
<ui  style="display:flex;justify-content: space-around;"><button href='/new'>Add a trail!</button></ui>
<head>
    <ui style="display:flex;justify-content: space-around;"><button href='/'>Home</button></ui>
</head>
