<h1>Hey There this is info on <%= trail.name%> </h1>
<li><%= trail%></li>
<img src= "<%= trail.location %>" alt="image of map">   
<head>
    <ui style="display: flex; justify-content: space-around"
      ><a href="/">Home</a></ui
    >
  </head>