<h1>THis is an  update route</h1>
<header>
    <img src="/images/update-img.png">
</header>
<h1>Seleect a trail to update</h1>
<head>
    <ui style="display:flex;justify-content: space-around;"><a href='/'>Home</a></ui>
</head>