@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');


body{
    font-family: 'Merriweather Sans', sans-serif; 
    color: whitesmoke;
    position: relative;
    padding: 0 10%;
    /* min-height: 100vh; */
    background: radial-gradient(ellipse at bottom, #0d1d31 0%,  #0c0d13 100%);
 
}
ul{
  display: inline;
  padding: 0 3%;
}
li{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: flex-start;
    /* padding-left: 17%; */
    margin:  0 auto;
    background-color: transparent;
    
}
list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.125);
}




img{
  display: grid;
  justify-self: center;
  margin: 0 auto;
  width: 640px;
  height: 640px;
  
}
.form-group{
  display: flex;
  justify-content: space-evenly;
  /* padding: 1%; */
}

/* header{
    background-color: black;
    height: 40rem;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10%;
   
} */
h1{
    color: whitesmoke;
    display: inline-flexbox;
    justify-content: center;
    margin: 4rem 0;
    border-radius: 10%;
   
  
   
}
footer{
    display: flex;
    justify-content: center;
   
   
}
/* div{
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: slategray;
  padding: 1%;
  border-radius: 2%;
  margin-bottom: 1rem;


} */

.btn-primary {
    color: black;
    background-color: #0d6efd;
    border-color: #1863d4;
}


.btn-danger {
    color: black;
    background-color: indianred;
    border-color: #dc3545;
}

element.style {
  margin-bottom: 1rem;
}
.form-group {
  display: flex;
}
div {
  display: flex;
  justify-content: space-between;
  color: auto;

}






@import '~mdb-ui-kit/css/mdb.min.css';

@mixin sp-layout {
    @media screen and (max-width: 750px) {
      @content;
    }
  }

  
  /* * {
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
  }
  .main {
    padding-right: 5%;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .d1 {
    position: absolute;
    background-image: url(/images/hiking.jpeg);
    background-size: auto;
  
    height: 30vh;
    width: 15vw;
  
    background-position: 0 50%;
  
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd1 10s 1, dd12 10s 1;
    animation-delay: 4s, 14s;
  }
  .d2 {
    position: absolute;
    background-image: url(/images/hiking.jpeg);
    background-size: auto;
  
    height: 50vh;
    width: 25vw;
  
    background-position: -10vw 50%;
    left: 10vw;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 4s;
  }
  .d3 {
    position: absolute;
    background-image: url(/images/hiking.jpeg);
    background-size: auto;
    overflow: hidden;
  
    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 2;
    animation-delay: 4s;
  }
  .d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(/images/hiking.jpeg);
    background-size: auto;
  
    height: 80vh;
    width: 25vw;
    left: 60vw;
    background-position: -70vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 4s;
  }
  
  @keyframes dd1 {
    0% {
    }
    50% {
      width: 95vw;
    }
  }
  @keyframes dd12 {
    0% {
    }
    50% {
      background-position: Calc(0vw - 40px) 50%;
    }
  }
  @keyframes dd2 {
    0% {
    }
    50% {
      background-position: Calc(-10vw - 40px) 50%;
    }
  }
  @keyframes dd3 {
    0% {
    }
    50% {
      background-position: Calc(-35vw - 40px) 50%;
    }
  }
  @keyframes dd4 {
    0% {
    }
    50% {
      background-position: Calc(-70vw - 40px) 50%;
    }
  }
   */