body{
    font-family: 'Merriweather Sans', sans-serif; 
    color: whitesmoke;
    position: relative;
    padding: 0 10%;
    /* min-height: 100vh; */
    background: radial-gradient(ellipse at bottom, #0d1d31 0%,  #0c0d13 100%);
 
}

ul{
  display: inline;
  padding: 0 3%;
}

li{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: flex-start;
    /* padding-left: 17%; */
    margin:  0 auto;
    background-color: transparent;
    
}

.list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.125);
}

img{
  display: grid;
  justify-self: center;
  margin: 0 auto;
  /* width: 640px;
  height: 640px; */
  width: 100%;
  height: auto;
}
h1{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    border-radius: 10px; 
}
footer{
    display: flex;
    justify-content: center;   
}
.btn-primary {
    color: black;
    background-color: whitesmoke;
    border-style: none;
}
.btn-info{
  background-color: whitesmoke;
  border-style: none;
}


.btn-danger {
    color: black;
    background-color: indianred;
    border-color: #dc3545;
}

element.style {
  margin-bottom: 1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
div {
  display: flex;
  justify-content:space-between;
  margin: 0 10px;
  color: auto;
}
.container {
  position: relative;
  display: center;
  width: 100%;
  max-width: 400px;
  
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn1 {
 
  top: 50%;
  left: 50%;
  transform: translate(0%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 18px;
  padding: 10px 15px;
  margin: 5%;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  text-decoration: transparent;
}
.container .btn2 {
  
  top: 50%;
  left: 50%;
  transform: translate(0%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 18px;
  padding: 10px 15px;
  margin: 5%;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  text-decoration: transparent;
}

.container .btn1:hover {
  background-color: black;
  color: white;
}
.container .btn2:hover {
  background-color: black;
  color: white;
}

.nav-link{
  color: whitesmoke;
  font-size: 18px;
}




@import '~mdb-ui-kit/css/mdb.min.css';

@mixin sp-layout {
    @media screen and (max-width: 750px) {
      @content;
    }
};

@viewport {
    width: device-width ;
    zoom: 1.0 ;
};
  
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
  